.header{
    width: 100%;
    height: 96px;
    background-color: #e42529;;
}
.location_head{
    width: 100%;
    /* border: 2px solid black; */
    background-color: #e42529;;
    height: 22px;
    display: flex;
    justify-content: end;
    justify-items: center;
   align-items:center;
   gap: 15px;
   padding-right: 10px;
   font-family: Roboto,"system-ui",sans-serif;
   color: white;
   font-weight: 500;
    font-size: 14px;
   
}
.location_head div{
    border-right: 2px solid white;
    height: 21px;
    padding-right: 10px;
    /* padding-top: 5px; */
}
.location_head div:nth-child(3){
    border: none;
}
/* below-header-part */
.below_header{
display: flex;
justify-content: space-between;
padding-left: 20px;
background-color: #e42529;;
align-items: center;

}
.image-Reliance{
    box-sizing: border-box;
    /* padding: 8px; */
}

.login_head{
    /* width: 100%; */
    /* border: 2px solid black; */
    height: 24px;
    display: flex;
    justify-content: end;
    justify-items: center;
   align-items:center;
   gap: 15px;
   padding-right: 10px;
   font-family: Roboto,"system-ui",sans-serif;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.login_head div{
    border-right: 2px solid white;
    padding-right: 10px;
}
.login_head div:nth-child(3){
    border: none;
}
body{
    font-family: Roboto,"system-ui",sans-serif;
    color: white;
}
.navbuttons{
    display: flex;
    border: 2px solid red;
    height: 40px;
    box-sizing: border-box;
    background-color: #1f4985;
   
    
    /* padding: 3px; */
}
#fix{
    position: fixed;
    z-index:1;
    width: 100%;
    
}

